/* 基本ヘッダースタイル */
header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

/* ナビゲーションバー */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  overflow-x: hidden;
}

/* ロゴ関連スタイル */
.logo {
  margin-left: 15px;
}

.logo img {
  height: 80px; /* ロゴのサイズを設定 */
  width: auto; /* アスペクト比を維持 */
  display: block; /* ブロックレベル要素として表示 */
}

/* ロゴとソーシャルメディアリンクのコンテナ */
.logo-social-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* ナビゲーションリンク */
.nav-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 15px;
}

.nav-links li {
  padding: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f0f0f0;
}

/* ソーシャルメディアリンクスタイル */
.social-media-links {
  display: flex;
  align-items: center; /* アイコンを中央揃え */
  margin-left: 15px; /* ロゴとの余白 */
}

.social-media-links a {
  margin: 0 10px; /* リンク間の余白 */
  display: flex; /* フレックスコンテナとして表示 */
  align-items: center; /* リンク内の画像を中央揃え */
}

.social-media-links img {
  height: 18px; /* Adjust the height */
  width: auto; /* Maintain aspect ratio */
  transition: opacity 0.3s ease;
  display: block; /* Ensures the image is treated as a block-level element */
}

.social-media-links a:hover img {
  opacity: 0.7;
}

/* 言語切り替えスタイル */
.language-switcher {
  margin: 0 32px 16px 0;
}

.language-switcher select {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
}

/* ハンバーガーメニュー */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    height: 50vh;
    width: 100%;
    right: 0;
    top: 12vh;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1000;
  }

  .nav-links.nav-active {
    transform: translateX(0);
  }

  .burger {
    display: block;
    margin-right: 16px;
  }

  .language-switcher {
    margin: 0 16px 16px 0;
  }
}
